Repository GSA-TTS/FAC-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix:eslint, npm run fix:stylelint

Ensure FY start date is after 12/31/2019
  cypress/integration/check-ueid.spec.js
  src/js/check-ueid.js
Due: npm run fix:eslint

Update `lint-staged` script names
  .lintstagedrc.json
Due: none

fix duplicate ID
  src/audit/new/step-2/index.njk
Due: none

Re-style header
  assets/img/fac-logo.svg
  assets/img/login-logo.png
  src/_data/global.yaml
  src/_includes/header.njk
  src/scss/_header.scss
  src/scss/main.scss
Due: npm run fix:stylelint

import uswds
  src/scss/_header.scss
Due: npm run fix:stylelint

Style hero & footer
  assets/img/gsa-logo-w100.png
  src/_includes/components/hero.njk
  src/_includes/footer.njk
  src/_includes/home.njk
  src/index.md
  src/scss/_footer.scss
  src/scss/_home.scss
  src/scss/_prototyping.scss
  src/scss/main.scss
Due: npm run fix:stylelint

Fix pointer to form
  src/js/check-access.js
  src/js/check-eligibility.js
  src/js/check-ueid.js
Due: npm run fix:eslint

a11y fix
  src/_includes/components/usa-summary.njk
Due: none

a11y fix Those `aria-label`s are superfluous. If there is important context to be provided, it should be in text rather than a `aria-label`.
  src/_includes/footer.njk
Due: none

Basic form markup
  src/_includes/components/usa-checkbox.njk
  src/_includes/components/usa-select.njk
  src/audit/submission/index.njk
Due: none

Add sticky side nav
  src/_includes/components/usa-sidenav.njk
  src/audit/submission/index.njk
  src/scss/_form.scss
Due: npm run fix:stylelint

DRY up fieldsets
  src/_includes/components/sac-fieldset.njk
  src/audit/submission/index.njk
Due: none

Smooth scroll to headings
  src/_includes/components/sac-fieldset.njk
  src/scss/main.scss
Due: npm run fix:stylelint

Highlight currently active nav section
  src/_includes/components/usa-sidenav.njk
  src/audit/submission/index.njk
  src/js/sf-sac.js
Due: npm run fix:eslint

Highlight links rather than `li`s
  src/js/sf-sac.js
Due: npm run fix:eslint

Style sac form
  .stylelintrc.json
  src/scss/_form.scss
Due: npm run fix:stylelint

Style refinements
  src/_includes/components/sac-fieldset.njk
  src/_includes/components/usa-date-picker.njk
  src/_includes/components/usa-select.njk
  src/audit/submission/index.njk
  src/scss/_form.scss
Due: npm run fix:stylelint

Fix radio label color
  src/scss/_form.scss
Due: npm run fix:stylelint

nav scrolling refinement
  src/js/sf-sac.js
Due: npm run fix:eslint

Updated check-eligibility.js to run checks and move to next view.
  src/js/check-eligibility.js
Due: npm run fix:eslint

Finish side nav
  src/_includes/components/usa-sidenav.njk
  src/audit/submission/index.njk
  src/scss/_form.scss
Due: npm run fix:stylelint

Typo fixes
  src/audit/submission/index.njk
Due: none

Add audit metadata to form
  src/audit/submission/index.njk
  src/scss/_form.scss
Due: npm run fix:stylelint

Add svg baseurl
  src/_includes/components/usa-sidenav.njk
Due: none

Validate text fields
  src/_includes/components/sac-fieldset.njk
  src/audit/submission/index.njk
  src/js/sf-sac.js
  src/scss/_form.scss
Due: npm run fix:eslint, npm run fix:stylelint

Validate all fields
  src/_includes/components/sac-fieldset.njk
  src/_includes/components/usa-checkbox.njk
  src/_includes/components/usa-radio.njk
  src/audit/submission/index.njk
  src/js/sf-sac.js
  src/js/validate.js
Due: npm run fix:eslint

some typos in markup that broke validation
  src/_includes/components/sac-fieldset.njk
  src/audit/submission/index.njk
Due: none

Hack(?) to get baseurl showing up in sidenav code
  src/_includes/components/usa-sidenav.njk
  src/audit/submission/index.njk
Due: none

Fix audit period group
  src/audit/submission/index.njk
Due: none

Updated check-eligibility.js and cypress/integration/check-eligibility.spec.js to run tests and move to next view.
  cypress/integration/check-eligibility.spec.js
  src/js/check-eligibility.js
Due: npm run fix:eslint

Fixed unintended code change on line 57.
  cypress/integration/check-eligibility.spec.js
Due: npm run fix:eslint

minor formatting edit.
  cypress/integration/check-eligibility.spec.js
Due: npm run fix:eslint

a11y fixes
  .pa11yci
  src/_includes/components/sac-fieldset.njk
  src/_includes/components/usa-input.njk
  src/audit/submission/index.njk
  src/js/validate.js
  src/scss/_form.scss
Due: npm run fix:eslint, npm run fix:stylelint

changed 'elegible' to eligible'.
  cypress/integration/check-eligibility.spec.js
  src/js/check-eligibility.js
Due: npm run fix:eslint

Moved new cypress tests to own test file.
  cypress/integration/check-eligibility-submit.spec.js
  cypress/integration/check-eligibility.spec.js
Due: npm run fix:eslint

Updated success response handling. Still need one more check for eligible eq true.
  cypress/integration/check-eligibility-submit.spec.js
Due: npm run fix:eslint

first pass at login.gov frontend auth flow
  package-lock.json
  package.json
  src/_includes/header.njk
  src/_includes/layout.njk
  src/auth/post-login.njk
  src/js/auth.js
  src/js/check-eligibility.js
Due: npm run fix:eslint

Run pa11y on all existing pages
  .pa11yci
Due: none

Basic specs for general info form
  cypress/integration/sf-sac-general-info.spec.js
Due: npm run fix:eslint

use baseUrl from config instead of window.location.origin
  src/_includes/layout.njk
  src/js/auth.js
Due: npm run fix:eslint

Path conditions:
  npm run fix:eslint: any of: *.js
  npm run fix:stylelint: any of: *.scss
