Repository GSA-TTS/FAC-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix:eslint, npm run fix:stylelint

.lintstagedrc.json:

{
  "*.js": ["npm run fix:eslint"],
  "*.scss": ["npm run fix:stylelint"]
}

Add validation to date-pickers. Delay for date-picker inputs to render.
  src/_includes/components/usa-date-picker.njk
  src/audit/new/step-2/index.njk
  src/js/check-ueid.js
Due: npm run fix:eslint

Fix cypress errors.
  cypress/integration/check-ueid.spec.js
Due: npm run fix:eslint

Add event handler to date-picker inputs.
  src/js/check-ueid.js
Due: npm run fix:eslint

Update cypress tests.
  cypress/integration/check-ueid.spec.js
Due: npm run fix:eslint

Fix duplicate error msgs.
  src/js/check-ueid.js
Due: npm run fix:eslint

Put lighthouse runs in their own spec
  cypress/integration/check-access-submit.spec.js
  cypress/integration/check-access.spec.js
  cypress/integration/check-eligibility-submit.spec.js
  cypress/integration/check-eligibility.spec.js
  cypress/integration/check-ueid-submit.spec.js
  cypress/integration/check-ueid.spec.js
  cypress/integration/my-audit-submissions.spec.js
  cypress/integration/run-lighthouse.spec.js
  cypress/integration/sf-sac-general-info.spec.js
Due: npm run fix:eslint

Merge specs
  cypress/integration/check-ueid-submit.spec.js
  cypress/integration/check-ueid.spec.js
Due: npm run fix:eslint

Update cypress
  cypress.config.js
  cypress.json
  cypress/e2e/check-access-submit.cy.js
  cypress/e2e/check-access.cy.js
  cypress/e2e/check-eligibility-submit.cy.js
  cypress/e2e/check-eligibility.cy.js
  cypress/e2e/check-ueid.cy.js
  cypress/e2e/run-lighthouse.cy.js
  cypress/e2e/sf-sac-general-info.cy.js
  cypress/support/e2e.js
  package-lock.json
  package.json
Due: npm run fix:eslint

Take `required` markers out of flow
  src/scss/_form.scss
Due: npm run fix:stylelint

Tighten up spacing on eligibility form
  src/scss/_form.scss
Due: npm run fix:stylelint

Tweak `abbr` style
  src/scss/_form.scss
Due: npm run fix:stylelint

Spacing tweaks
  src/audit/new/step-3/index.njk
  src/scss/_form.scss
Due: npm run fix:stylelint

Fix spacing for delete button
  src/scss/_form.scss
Due: npm run fix:stylelint

Increase search field size
  src/scss/_form.scss
Due: npm run fix:stylelint

Don't wrap list items in a summary box
  src/scss/_form.scss
Due: npm run fix:stylelint

Change error message for empty email field
  src/audit/new/step-3/index.njk
Due: none

Make spacing consistent above & below search field
  src/scss/_form.scss
Due: npm run fix:stylelint

Remove l-r padding from UEI explanation column
  src/scss/_form.scss
Due: npm run fix:stylelint

fix pa11y error
  src/audit/new/step-3/index.njk
Due: none

Create table component and add to submissions.njk. Create audit-submissions.js and link to submissions.njk. Add FETCH functionality.
  src/_includes/components/usa-table-sortable.njk
  src/js/audit-submissions.js
  src/submissions/index.njk
Due: npm run fix:eslint

Remove queryAPI reference.
  src/js/audit-submissions.js
Due: npm run fix:eslint

Implement basic check for access to a given report
  src/js/auth.js
Due: npm run fix:eslint

reset uei modal when search btn clicked
  src/js/check-ueid.js
Due: npm run fix:eslint

demo `is-land` and lit
  .eleventy.js
  package-lock.json
  package.json
  src/_includes/home.njk
  src/js/app.js
  src/js/components/lit-component-test.js
  src/js/components/pokemon-list.js
  src/js/components/pokemon-type-select.js
  src/js/lit-component-test.js
  src/js/preact-component-test.js
Due: npm run fix:eslint

Add alpine.js; add some data bindings
  package-lock.json
  package.json
  src/_includes/components/sac-fieldset.njk
  src/_includes/components/usa-input.njk
  src/_includes/layout.njk
  src/audit/submission/index.njk
  src/js/app.js
  src/js/libs.js
Due: npm run fix:eslint

Adding pagination.
  src/_includes/components/usa-table-sortable.njk
  src/js/audit-submissions.js
  src/submissions/index.njk
Due: npm run fix:eslint

Populate form with data from API
  src/audit/submission/index.njk
Due: none

Added pagination. Need to fix function.
  src/_includes/components/usa-pagination.njk
  src/js/audit-submissions.js
  src/submissions/index.njk
Due: npm run fix:eslint

Updated pagination build.
  src/js/audit-submissions.js
Due: npm run fix:eslint

Test populating form with API data
  cypress/e2e/sf-sac-general-info.cy.js
  cypress/fixtures/example.json
  cypress/fixtures/sac-report.json
  src/audit/submission/index.njk
Due: npm run fix:eslint

Fixed pagination update issue. Need to tie in table update.
  src/js/audit-submissions.js
Due: npm run fix:eslint

Fixed table data pagination.
  src/js/audit-submissions.js
Due: npm run fix:eslint

Fixed previous and next button issues.
  src/js/audit-submissions.js
Due: npm run fix:eslint

Implement form submission
  src/audit/submission/index.njk
  src/js/sf-sac.js
  src/js/validate.js
Due: npm run fix:eslint

Update selectors
  cypress/e2e/sf-sac-general-info.cy.js
Due: npm run fix:eslint

Populate email fields with remote data
  cypress/e2e/sf-sac-general-info.cy.js
  cypress/fixtures/sac-report.json
  src/_includes/components/sac-fieldset.njk
  src/_includes/components/usa-select.njk
  src/audit/submission/index.njk
  src/js/sf-sac.js
Due: npm run fix:eslint

Fix some data key names
  cypress/e2e/sf-sac-general-info.cy.js
  src/audit/submission/index.njk
  src/js/sf-sac.js
Due: npm run fix:eslint

populate auditor contact info
  src/audit/submission/index.njk
Due: none

Bind radios & checkboxen to API data
  src/_includes/components/sac-fieldset.njk
  src/_includes/components/usa-checkbox.njk
  src/_includes/components/usa-radio.njk
  src/audit/submission/index.njk
  src/js/sf-sac.js
Due: npm run fix:eslint

Radio buttons need true/false as strings
  src/js/libs.js
Due: npm run fix:eslint
