Repository GSA-TTS/FAC-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix:eslint, npm run fix:stylelint

update tests for new UEI flow
  cypress/integration/check-ueid.spec.js
  src/_includes/components/usa-search.njk
  src/audit/new/step-2/index.njk
  src/js/check-ueid.js
Due: npm run fix:eslint

Update other spec for new UEI flow
  cypress/integration/check-ueid-submit.spec.js
  cypress/integration/check-ueid.spec.js
Due: npm run fix:eslint

Ignore `.is-hidden.`
  .pa11yci
Due: none

Fix line height on 'no UEI' warning
  src/scss/_form.scss
Due: npm run fix:stylelint

Removed name inputs from step-3 access audit form. Removed any validation for name inputs. Connected form to hit updated accessandsubmission ENDPOINT.
  src/audit/new/step-3/index.njk
  src/js/check-access.js
Due: npm run fix:eslint

Updated usa-search component to make the name attribute match the id to fix API error. Updated check-eligibility.js to change the radio button value strings to booleans before submitting.
  src/_includes/components/usa-search.njk
  src/js/check-eligibility.js
Due: npm run fix:eslint

391: Add page for My audit submissions, route to that page after login
  cypress/integration/my-audit-submissions.spec.js
  src/js/auth.js
  src/submissions/index.njk
Due: npm run fix:eslint

391: Add title to my audit submissions page
  src/submissions/index.njk
Due: none

391: Initial table working with hardcoded data
  src/submissions/index.njk
Due: none

391: Only show table when there is at least one submission
  src/submissions/index.njk
Due: none

391: Add submissions data script, refactor template variable naming
  src/_data/submissions.js
  src/submissions/index.njk
Due: npm run fix:eslint

rm link to non-existent script 🙃
  src/_includes/header.njk
Due: none

Markup & style logout button
  src/_includes/header.njk
  src/scss/_header.scss
Due: npm run fix:stylelint

Updated the 'Add another contact' functionality in check-access.js to create unique IDs and Names. Also updated the label.for attributes to match updated IDs and Names.
  src/js/check-access.js
  src/js/check-eligibility.js
Due: npm run fix:eslint

Upadted submit functionality to prepare the data to match the API expected formats.
  src/js/check-access.js
  src/js/check-eligibility.js
Due: npm run fix:eslint

Updated successful destination.
  src/js/check-access.js
Due: npm run fix:eslint

Removed refereences to from access cypress test. Still need to add test for Add another contact functionality.
  cypress/integration/check-access.spec.js
Due: npm run fix:eslint

Add note with Federalist link
  README.md
Due: none

Added tests for Add another contact functionality.
  cypress/integration/check-access.spec.js
Due: npm run fix:eslint

Updated the check-access cypress test to handle removal of name inputs and test Add another contact functionality. Added the check-access-submit test to test form submission.
  cypress/integration/check-access-submit.spec.js
  cypress/integration/check-access.spec.js
Due: npm run fix:eslint

Updated forms submissions to use the queryAPI.
  src/js/check-access.js
  src/js/check-eligibility.js
  src/js/check-ueid.js
Due: npm run fix:eslint

391: WIP componentize table
  src/_includes/components/usa-sortable-table.njk
  src/submissions/index.njk
Due: none

391: Componentized sortable table working with hardcoded data
  src/_includes/components/usa-sortable-table.njk
  src/submissions/index.njk
Due: none

391: Cleanup table component
  src/_includes/components/usa-sortable-table.njk
  src/submissions/index.njk
Due: none

Reverty 'my submissions' login redirect
  src/js/auth.js
Due: npm run fix:eslint

Implement logout button
  src/_includes/components/hero.njk
  src/_includes/components/usa-alert.njk
  src/js/auth.js
  src/scss/_home.scss
Due: npm run fix:eslint, npm run fix:stylelint

Clear local storage; hide alert
  src/_includes/components/hero.njk
  src/js/auth.js
Due: npm run fix:eslint

Removed extraneous comments from eligibility cypress test.
  cypress/integration/check-eligibility-submit.spec.js
Due: npm run fix:eslint

Updates to fix cypress tests.
  cypress/integration/check-ueid-submit.spec.js
  src/js/check-ueid.js
Due: npm run fix:eslint

Fix testing bug introduced by previous commit.
  cypress/integration/check-ueid-submit.spec.js
  src/js/check-ueid.js
Due: npm run fix:eslint

Updated access form submission to address the error from an incomplete submission.
  src/js/check-access.js
Due: npm run fix:eslint

Possible fix for dropping data on a partial form submission on step 3.
  cypress/integration/check-access-submit.spec.js
Due: npm run fix:eslint

Updating the redirect destination to My Submissions until we decide on where to redirect to.
  src/js/check-access.js
Due: npm run fix:eslint

Further updating to redirect locaiton.
  src/js/check-access.js
Due: npm run fix:eslint

391: Remove hardcoded test data, fetch my submissions in script instead of javascript data file
  src/_data/submissions.js
  src/js/api.js
  src/js/submissions.js
  src/submissions/index.njk
Due: npm run fix:eslint

391: Cleanup hardcoded test data
  src/_includes/components/usa-sortable-table.njk
  src/js/submissions.js
  src/submissions/index.njk
Due: npm run fix:eslint

Hide content in the app when not logged in
  src/_includes/layout.njk
  src/js/auth.js
  src/scss/main.scss
Due: npm run fix:eslint, npm run fix:stylelint

Redirect to homepage if not logged in
  src/_includes/components/hero.njk
  src/js/auth.js
Due: npm run fix:eslint

Add env var when on CI
  .github/workflows/main.yml
  src/_data/config.js
  src/_includes/layout.njk
  src/js/auth.js
Due: npm run fix:eslint

Added the required indicator to the date-picker labels. Updated the date-picker component with a conditional to add required attributes.
  src/_includes/components/usa-date-picker.njk
  src/audit/new/step-2/index.njk
Due: none

Path conditions:
  npm run fix:eslint: any of: *.js
  npm run fix:stylelint: any of: *.scss
