Repository GSA-TTS/FAC-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix:eslint, npm run fix:stylelint

take two
  src/js/auth.js
Due: npm run fix:eslint

take three
  src/js/auth.js
Due: npm run fix:eslint

fix post-login redirect location
  src/js/auth.js
Due: npm run fix:eslint

default to cloudgov API urls
  src/js/auth.js
  src/js/check-eligibility.js
Due: npm run fix:eslint

Attempt 1 to fix check-ueid-submit test.
  cypress/integration/check-ueid-submit.spec.js
Due: npm run fix:eslint

Removed commented out code.
  cypress/integration/check-ueid-submit.spec.js
Due: npm run fix:eslint

implement login modal
  src/_includes/components/usa-modal.njk
  src/_includes/header.njk
  src/scss/_home.scss
Due: npm run fix:stylelint

rm comment
  src/_includes/header.njk
Due: none

Fix asset url
  src/_includes/components/usa-modal.njk
Due: none

Updated check-uei.js to use the Login.gov authentication solution added by Tim.
  src/js/check-ueid.js
Due: npm run fix:eslint

Match frontend values for org type to backend values for org type.
  src/audit/new/step-1/index.njk
Due: none

Update form field inputs and all related refernces in check-ueid.js. Also updated the cypress tests.
  cypress/integration/check-ueid-submit.spec.js
  cypress/integration/check-ueid.spec.js
  src/audit/new/step-2/index.njk
  src/js/check-ueid.js
Due: npm run fix:eslint

make "login to submit an audit" btn functional, update redirect
  src/_includes/components/hero.njk
  src/_includes/components/usa-modal.njk
  src/_includes/header.njk
  src/index.md
  src/js/auth.js
Due: npm run fix:eslint

move sign-in-button class into md?
  src/_includes/components/hero.njk
  src/index.md
Due: none

Revert "move sign-in-button class into md?"
  src/_includes/components/hero.njk
  src/index.md
Due: none

Replace uei fields with search form
  src/_includes/components/usa-search.njk
  src/audit/new/step-2/index.njk
  src/js/check-ueid.js
  src/scss/_form.scss
Due: npm run fix:eslint, npm run fix:stylelint

add (empty) modal
  src/_includes/components/usa-search.njk
  src/audit/new/step-2/index.njk
  src/js/check-ueid.js
  src/scss/_form.scss
Due: npm run fix:eslint, npm run fix:stylelint

Wire up API failure state
  src/audit/new/step-2/index.njk
  src/js/check-ueid.js
Due: npm run fix:eslint

Implement success modal
  src/_includes/components/usa-search.njk
Due: none

Implement success modal
  src/audit/new/step-2/index.njk
  src/js/api.js
  src/js/check-ueid.js
Due: npm run fix:eslint

wip re-implement validation
  src/js/check-ueid.js
Due: npm run fix:eslint

wip re-implement validation
  src/_includes/components/usa-search.njk
  src/audit/new/step-2/index.njk
Due: none

Validate search field like text input
  src/js/validate.js
Due: npm run fix:eslint

Handle no UEI match case
  src/js/check-ueid.js
Due: npm run fix:eslint

343: Empty my submissions page working with validation
  src/_includes/components/usa-checkbox.njk
  src/audit/submissions/index.njk
  src/js/auth.js
  src/js/check-terms.js
Due: npm run fix:eslint

343: Update readme cypress commands
  README.md
Due: none

343: WIP adding tests for my submissions page
  cypress/integration/my-submissions.spec.js
Due: npm run fix:eslint

Handle proceeding from modal without UEI
  src/audit/new/step-2/index.njk
  src/js/check-ueid.js
  src/scss/_form.scss
Due: npm run fix:eslint, npm run fix:stylelint

show UEI info after successful query
  src/js/check-ueid.js
  src/scss/_form.scss
Due: npm run fix:eslint, npm run fix:stylelint

rm unnecessary eslint directive
  src/js/check-ueid.js
Due: npm run fix:eslint

343: Cleanup
  cypress/integration/my-submissions.spec.js
  src/audit/submissions/index.njk
  src/js/check-terms.js
Due: npm run fix:eslint

343: Add cypress data selector for testing
  cypress/integration/my-submissions.spec.js
  src/audit/submissions/index.njk
Due: npm run fix:eslint

343: Move form error message above input
  src/_includes/components/usa-checkbox.njk
Due: none

343: Add cypress selector to checkboxes, fixing test
  cypress/integration/my-submissions.spec.js
  src/_includes/components/usa-checkbox.njk
  src/audit/submissions/index.njk
Due: npm run fix:eslint

343: Adding cypress selector on sac-fieldset for checkbox component type
  cypress/integration/sf-sac-general-info.spec.js
  src/_includes/components/sac-fieldset.njk
  src/audit/submission/index.njk
Due: npm run fix:eslint

343: Remove comment, remove class that was brought in accidentally
  cypress/integration/my-submissions.spec.js
  src/audit/submissions/index.njk
Due: npm run fix:eslint

include all_emails scope in auth request
  src/js/auth.js
Due: npm run fix:eslint

Add links to SAM.gov
  src/audit/new/step-2/index.njk
  src/js/check-ueid.js
Due: npm run fix:eslint

343: Update start a new submission instructions and spacing
  src/audit/submissions/index.njk
Due: none

Only use `not-allowed` cursor if field is disabled
  src/scss/_form.scss
Due: npm run fix:stylelint

Path conditions:
  npm run fix:eslint: any of: *.js
  npm run fix:stylelint: any of: *.scss
