Repository GSA-TTS/FAC-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix:eslint, npm run fix:stylelint

.lintstagedrc.json:

{
  "*.js": ["npm run fix:eslint"],
  "*.scss": ["npm run fix:stylelint"]
}

Rm log
  src/js/libs.js
Due: npm run fix:eslint

Populate select list with dynamic data
  src/_includes/components/usa-select.njk
  src/audit/submission/index.njk
  src/js/libs.js
Due: npm run fix:eslint

Make validations run on selects
  src/_includes/components/usa-select.njk
  src/audit/submission/index.njk
  src/js/sf-sac.js
  src/js/validate.js
Due: npm run fix:eslint

Improve validation specs
  cypress/e2e/sf-sac-general-info.cy.js
  src/js/sf-sac.js
Due: npm run fix:eslint

Switching to alpine.js.
  cypress/e2e/check-submissions.cy.js
  src/_includes/components/usa-table-sortable.njk
  src/js/audit-submissions.js
  src/submissions/index.njk
Due: npm run fix:eslint

design/copy updates
  src/audit/new/step-2/index.njk
  src/scss/_form.scss
Due: npm run fix:stylelint

Make redirect include `reportId` param
  cypress/e2e/check-access-submit.cy.js
  src/js/check-access.js
Due: npm run fix:eslint

Converted to use AlpineJS for table and pagination functionality.
  cypress/e2e/check-submissions.cy.js
  src/_includes/components/usa-modal.njk
  src/_includes/components/usa-pagination.njk
  src/_includes/components/usa-table-sortable.njk
  src/js/audit-submissions.js
  src/js/libs.js
  src/js/page-table.js
  src/js/submissions-pagination.js
  src/submissions/index.njk
Due: npm run fix:eslint

Fixing typo in cypress test.
  cypress/e2e/check-submissions.cy.js
Due: npm run fix:eslint

wip colocate form templates & data
  package.json
  src/forms/auditee-information.njk
Due: none

Add build command; ignore yaml in form dir
  .gitignore
  package.json
Due: none

try adding repo as submodule
  .gitmodules
Due: none

fix npm command name
  package.json
Due: none

really fix npm command(?)
  package.json
Due: none

Removed unused components and references.
  src/_includes/components/usa-modal-default.njk
  src/_includes/components/usa-table-sortable.njk
  src/js/audit-submissions.js
  src/js/libs.js
  src/js/page-table.js
  src/js/submissions-pagination.js
  src/submissions/index.njk
Due: npm run fix:eslint

Remove unused component pieces.
  src/_includes/components/usa-pagination.njk
  src/js/submissions-pagination.js
Due: npm run fix:eslint

Removed some testing artifacts.
  src/_includes/components/usa-table-sortable.njk
Due: none

Fixing Cypress tests.
  cypress/e2e/check-submissions.cy.js
  src/submissions/index.njk
Due: npm run fix:eslint

Updating test.
  cypress/e2e/check-submissions.cy.js
Due: npm run fix:eslint

Remove unused component.
  src/_includes/components/usa-modal-default.njk
Due: none

Fixing tests.
  cypress/e2e/check-submissions.cy.js
Due: npm run fix:eslint

Fixed Cypress test!
  cypress/e2e/check-submissions.cy.js
Due: npm run fix:eslint

Renamed spec file.
  cypress/e2e/display-submissions.cy.js
Due: npm run fix:eslint

Implement basic awards page
  src/_includes/components/usa-file-input.njk
  src/_includes/components/usa-process-list.njk
  src/audit/submission/awards.njk
Due: none

wip style completed process list marker
  src/audit/submission/awards.njk
  src/scss/_form.scss
Due: npm run fix:stylelint

Add submit button
  src/audit/submission/awards.njk
  src/scss/_form.scss
Due: npm run fix:stylelint

Style completed process step
  assets/img/usa-icons/green-check.svg
  src/scss/_form.scss
Due: npm run fix:stylelint

Add awards page to a11y tests
  .pa11yci
  cypress/e2e/run-lighthouse.cy.js
Due: npm run fix:eslint

Remove duplicate H1
  src/_includes/form.njk
  src/audit/submission/awards.njk
  src/scss/_form.scss
Due: npm run fix:stylelint

Added modal and navigate functionality.
  src/js/audit-submissions.js
  src/submissions/index.njk
Due: npm run fix:eslint

Adding cypress test.
  cypress/e2e/start-new-submission.cy.js
Due: npm run fix:eslint

Add note regarding updating a11y tests
  README.md
Due: none

Address review feedback on draft PR.
  .pa11yci
  src/_includes/components/usa-modal.njk
  src/js/audit-submissions.js
  src/submissions/index.njk
Due: npm run fix:eslint

Resolving conflict.
  .pa11yci
Due: none

Updating tests and pa11y config.
  .pa11yci
  cypress/e2e/display-submissions.cy.js
Due: npm run fix:eslint

Fixing test issue.
  cypress/e2e/start-new-submission.cy.js
Due: npm run fix:eslint

Fixed cypress issue.
  cypress/e2e/start-new-submission.cy.js
Due: npm run fix:eslint

Updated Cypress test.
  cypress/e2e/start-new-submission.cy.js
Due: npm run fix:eslint
